body {
    background-repeat: no-repeat;
    position: fixed;
    width: auto%;
    height: 1024px;
    align-items: center;
}/*Estilização do corpo do projeto */

.bg {
	background-image: url("img/wallpaper.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}/*imagem de bacgroud, comandos para centralizar, fixar no centro e nao replicar.*/

h3 {
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: white;
}/*Formato escrita para texto no cabeçalho. */
  
img {
    width: 235px;
    height: 280px;
}/*Dimenssão da imagem do personagem */
  
.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 10%;
}/*Imagem sobreposta ao backgroud situada no cabeçalho da pagina */
  
.imagem {
    width: 1366px;
    margin: 0 auto;
    padding: 45px 0;
    margin-top: 0%;
} /*Dimenssões da classe a ser exibida na tela.*/
  
.imagem li {
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2 px solid #0f0d0daf;
    border-radius: 10px;
    background-color: #008080;
}/*Tamanho e estilização da li */
  
  .imagem h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 2rem;
  }/*Texto exibido com nome do personagem */